# Bỏ qua các file log và pcap nặng của Security Onion
*.pcap
*.pcapng
*.log
*.tar.gz
*.iso
*.mp4

# Bỏ qua node_modules và venv
node_modules/
venv/
.venv/
__pycache__/
.DS_Store
# Ignore heavy documents and reports
*.docx
*.pdf
*.pptx
*.xlsx
